@font-face {
  font-family: IRANSans;
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: 
      /* IE6-8 */ url("../fonts/woff2/IRANSansWeb_Bold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb_Bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/ttf/IRANSansWeb_Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-display: swap;

  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: 
      /* IE6-8 */ url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/ttf/IRANSansWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: 
      /* IE6-8 */ url("../fonts/woff2/IRANSansWeb_Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb_Light.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
  outline: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
}
button {
  border: none !important;
}
/* end reset css */

/* general */
body {
  font-family: IRANSans, sans-serif;
  color: #000;
  font-size: 14px;
  text-align: right;
  direction: rtl;
  background-color: #fffaff;
}
main {
  overflow-x: hidden;
}
/* end general */

/* specific */
.top-big-slider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.top-big-slider__item {
  width: 100%;
  height: 100%;
  background-image: url("../img/supermarket.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-big-slider__item__inner h3 {
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.top-big-slider__item__inner h1 {
  font-size: 2.7em;
  font-weight: bold;
  margin-bottom: 25px;
}
.top-big-slider__item__inner {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(9, 7, 2, 0.4); */
}
.custom--select--bg {
  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 20px;
  height: 100%;
  width: 15px;
  top: 0;
}

.top-big-slider__item__select-cont > img {
  position: absolute;
  right: 15px;
  top: 0;
  height: 100%;
  width: 20px;
  z-index: 1;
}
.top-big-slider__item__btn-cont {
  margin-top: 20%;
}

.top-big-slider__bottom--2 {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.top-big-slider__bottom {
  height: 80px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, #68645b, #090702);
  bottom: 0;
  right: 0;
  border-radius: 100% 100% 0 0 / 200% 200% 0 0;
}

#slider-top .slick-list,
#slider-top .slick-track {
  height: 100%;
}

#slider-top .slick-dots {
  bottom: 10px;
  z-index: 1;
}
#slider-top .slick-dots li.slick-active button:before {
  background-color: #ffbb1a;
}
#slider-top .slick-arrow {
  top: unset;
  bottom: 10px;
  z-index: 2;
}
#slider-top {
  margin-bottom: 0;
}
.slick-prev::before {
  content: ">";
  color: #ffbb1a;
  font-size: 30px;
}
.slick-next::before {
  content: "<";
  color: #ffbb1a;
  font-size: 30px;
}
#slider-top .slick-next {
  right: 42%;
}

#slider-top .slick-prev {
  left: 41.5%;
  right: unset;
}

#slider-top .slick-dots li button:before {
  width: 20px;
  height: 20px;
  content: "";
  text-align: center;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 100%;
  content: "";
  opacity: 1;
}
.top-big-slider__bottom--2 button {
  font-size: 1.3em;
}
.top-big-slider__bottom--2 .top-big-slider__item__select-cont {
  width: 150px;
  height: 40px;
  /* font-size: .8em; */
}
.custom--search-input_cont {
  position: relative;
}
.custom--search-input__bnt {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  position: absolute;
  border-radius: 100%;
  left: 10px;
  top: 4px;
}
.main__header {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 100% 100% / 0 0 200% 200%;
  border: black solid 3px;
  border-top: none;
}
.card--small h3 {
  font-size: 1.1em;
}

.card--small h6 {
  font-size: 0.9em;
  color: #da2128;
}

.card--small img {
  width: 40px;
  height: 40px;
}
.food-baner--1 {
  background-image: url("../img/3.png");
}
.food-baner--2 {
  background-image: url("../img/4.png");
}
.lined-head .flex-grow-1 {
  background-color: #090702;
  height: 3px;
}
.card--medium span img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.card--medium > img:first-child {
  width: 70px;
  height: 70px;
  margin-top: -40px;
  transition: margin 1.5s;
}
.card--medium:hover > img:first-child {
  margin-top: initial;
}
.card--medium:hover {
  box-shadow: 0 3px 6px 0 #034694;
  height: 100%;
}
main .slick-list.draggable {
  padding-top: 20px;
}
main .slick-arrow::before {
  color: black;
  border: solid 1px black;
  font-size: 18px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  font-weight: bold;
}
.card-badge > span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.7em;
}
.btn-outline--dark:hover {
  background-image: linear-gradient(to bottom, #090702, #68645b);
  color: #ffbb1a;
}
.card--curved > div:first-child > img {
  width: 32px;
  height: 32px;
}
.card--curved:hover > div:last-child {
  color: #ffbb1a;
}
.card--curved > div:last-child {
  font-size: 30px;
  font-weight: lighter;
  padding-left: 20px;
}
.card--curved > div:first-child {
  background-color: #090702;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content > div {
  flex-basis: 33.333%;
}
.footer__content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
footer {
  background-color: #090702;
}
.footer__icon {
  width: 16px;
  height: 16px;
}
.footer__logo {
  width: 190px;
}
.right-menu--desktop > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;
  padding-bottom: 3vh;
}
.right-menu--desktop .logo {
  width: 85px;
  object-fit: contain;
}
.right-menu--desktop .active {
  border-radius: 8px;
  background-color: #da2128;
  padding: 5px 8px;
}
.right-menu--desktop .icon {
  width: 32px;
}
.right-menu--desktop nav > div:nth-child(2) {
  border-bottom: solid 1.5px;
  padding-bottom: 10px;
  width: 50%;
  /* margin-top: 16px; */
}
section > .container {
  transition: margin 0.4s;
}
.center-content--small {
  width: calc(100% - 120px) !important;
}
.left-cart--desktop__header .cart {
  width: 20px;
  height: 20px;
}
.left-cart--desktop__header .closee {
  height: 25px;
  width: 25px;
}
.left-cart--desktop__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  border-bottom: solid 1px #ffbb1a;
}
.card--cart .closee img {
  width: 18px;
  height: 18px;
}
.card--cart .closee {
  position: absolute;
  top: 5px;
  left: 9px;
}
.card--cart > div:nth-child(2) {
  flex-basis: 60%;
}
.product-counter > div:first-child,
.product-counter > div:last-child {
  background-color: #ffbb1a;
  border-radius: 100%;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-cart--desktop__btn .cart {
  width: 25px;
  height: 25px;
}
.left-cart--desktop__footer {
  width: 246px;
  height: 40px;
  border-radius: 40px;
  background-color: #da2128;
}
.bottom-menu--mobile > nav img {
  width: 23px;
  object-fit: contain;
}
.bottom-menu--mobile > nav > div {
  flex-basis: 20%;
  z-index: 1;
}
.bottom-menu--mobile > nav > div.center .center-img {
  background-image: url("../img/4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 66px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-menu--mobile > nav .center img {
  width: 30px;
}
.custom--box__img {
  width: 135px;
  height: 100%;
}
.custom--box__options {
  position: absolute;
  left: -35px;
  top: 0;
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 104%;
  cursor: initial;
}
.custom--box__options__item:hover {
  opacity: 1;
}
.custom--box__options__item {
  opacity: 0.5;
  transition: 0.4s;
  cursor: pointer;
}
.add-address-box {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: dashed 2px #707070;
  height: 92px !important;
  background-color: rgba(9, 7, 2, 0.1) !important;
}
/* end specific */

/* components */
.bottom-menu--mobile > nav {
  height: 100px;
  background-color: #090702;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom-menu--mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 8;
}
.btn--red {
  width: 75px;
  height: 26px;
  border-radius: 15px;
  background-color: #da2128;
}
.product-counter {
  width: 25px;
  height: 80px;
  border-radius: 25px;
  background-color: #090702;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.product-counter--hor {
  flex-direction: row;
  width: 120px;
  height: 36px;
}
.product-counter--hor > div:first-child,
.product-counter--hor > div:last-child {
  width: 28px;
  height: 28px;
}
.card--cart {
  position: relative;
  border-radius: 8px;
  width: 275px;
  /* height: 100px; */
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fffaff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 10px;
  margin-bottom: 10px;
}
#center-content {
  transition: 0.5s;
  width: 100%;
  float: left;
}
.left-cart--desktop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 325px;
  background-color: #090702;
  box-shadow: -5px 3px 12px 0 #68645b;
  /* z-index: 8; */
  transition: 0.4s;
}
.left-cart--desktop__btn {
  width: 107px;
  height: 92px;
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #090702;
  border-radius: 0 5px 5px 0;
  position: absolute;
  left: 325px;
  top: calc((100% - 92px) / 2);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  opacity: 1;

  /* transition: opacity linear 0s, transform linear .4s; */
  transition: transform 0.3s 0.07s ease-in, width 0.3s ease-in;
}
.right-menu--desktop {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 120px;
  background-color: #090702;
  box-shadow: 10px 6px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 8;
}
.section--bg {
  background-image: url("../img/supermarket.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  border-radius: 100% 100% 0 0 / 150% 150% 0 0;
  border: solid black;
  overflow: hidden;
}
.card--curved {
  cursor: pointer;
  flex-basis: 31%;
  flex-grow: 1;
  margin-right: 11px;
  margin-left: 11px;
  margin-bottom: 20px;
  height: 75px;
  border-radius: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.card-badge {
  position: absolute;
  background-color: red;
  border-radius: 100%;
  width: 22.5px;
  height: 22.5px;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border-radius: 0 0 100% 0;
}

.btn-outline--dark {
  border-radius: 25px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #090702;
  background-color: #fffaff;
}
.card--medium_cont {
  height: 243px;
  position: relative;
  flex-basis: 180px;
  margin: 10px;
}
.card--medium {
  cursor: pointer;
  /* overflow: hidden; */
  position: absolute;
  bottom: 0;
  height: 195px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  transition: height 0.8s, box-shadow 0.8s;

  flex-basis: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5px;
  width: 100%;
}

.lined-head {
  display: flex;
  font-weight: bold;
  font-size: 1.5em;
  align-items: center;
  margin-top: 35px;
}
.food-baner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: 176px;
  flex-basis: 45%;
}
.border-bottom--cirle {
  height: 70px;
  border-radius: 100% 100% 0 0 / 200% 200% 0 0;
  border: black solid 3px;
  border-bottom: none;
}
.card--small {
  flex-basis: 110px;
  height: 114px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.custom--search-input {
  width: 350px;
  height: 38px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.btn--black {
  height: 40px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #090702, #534f46);
}

.top-big-slider__item__select-cont {
  position: relative;
  width: 285px;
}
.custom--select {
  color: #ffbb1a;
  height: 45px;
  border-radius: 40px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #090702, #68645b);
  position: relative;
  width: 100%;
  cursor: pointer;
  font-size: 1.2em;
  padding-right: 40px;
  background-color: black;
}

.bottom-cart--mobile {
  bottom: 0;
  top: unset;
  width: 100%;
  height: 80vh;
  z-index: 9;
  box-shadow: 0 -4px 6px 0 rgba(104, 100, 91, 0.8);
  border-radius: 10px 10px 0 0;
}
.custom--box {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  /* font-weight: bold; */
  background-color: #ffffff;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.down-arrow {
  width: 16.5px;
  transition: 0.4s;
  height: 9px;
  transform: rotate(180deg);
}
.custom--box__collapse.opened + div {
  opacity: 1;
  visibility: visible;
  max-height: 100vh !important;
}
.custom--box__collapse.opened .down-arrow {
  transform: none;
}
.custom--box-black {
  border-radius: 5px;

  box-shadow: 0 6px 6px 0 #68645b;
  color: white;
  background-color: #090702;
}
.custom--input {
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ffffff;
  background-color: transparent;
  color: white;
  font-size: 0.85em;
  text-align: center;
  padding: 5px;
}
.btn-outline--orange {
  border-radius: 5px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ffbb1a !important;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-outline--orange--circle {
  border-radius: 25px;
  background-color: #ffbb1a;
}
/* end components */

/* utils */
.border--orange {
  box-shadow: 0 6px 6px 0 rgba(255, 187, 26, 0.5);

  border: solid 2px #ffbb1a;
}
.border--red {
  border-color: #da2128;
}
.hide--long {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.hide {
  transition: 0.15s;
  opacity: 0;
  visibility: hidden;
}
.removedY {
  transform: translateY(100%);
  /* transition: 0.2s; */
}
.removedX {
  transform: translateX(100%);
  transition: 0.2s;
}
.removedX--n {
  transform: translateX(-100%);
  transition: transform 0.2s, opacity 1s;
  /* opacity: 0; */
}
.removedX--n2 {
  transform: translateX(-100%);
  width: 0;
  /* transition: opacity ease-in .4s , transform linear .4s;  transition-property: opacity; */

  /* transition:transform 2s; */
  /* transition-delay: opacity 10s; */
}
.transition {
  transition: 0.4s;
}

.text--red {
  color: #da2128;
}
.text--orange {
  color: #ffbb1a;
}
.bg--black {
  background: black;
}

.font-size--n1 {
  font-size: 0.9em;
}
.font-size--1 {
  font-size: 1.1em;
}

.font-size--2 {
  font-size: 1.2em;
}

.font-size--3 {
  font-size: 1.3em;
}
.font-size--4 {
  font-size: 1.4em;
}
.font-size--5 {
  font-size: 1.5em;
}

.cursor--pointer {
  cursor: pointer;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 15px solid #090702;
}
/* end utils */

.triangle,
.triangle:before,
.triangle:after {
  width: 4em;
  height: 4em;
}
.triangle {
  overflow: hidden;
  position: relative;
  margin: 7em auto 0;
  border-radius: 20%;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  cursor: pointer;
  pointer-events: none;
}
.triangle:before,
.triangle:after {
  position: absolute;
  background: #090702;
  pointer-events: auto;
  content: "";
}
.triangle:before {
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(30deg) scaleY(0.866) translateX(-24%);
}
.triangle:after {
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(-30deg) scaleY(0.866) translateX(24%);
}

/* .triangle:hover { overflow: visible; }
.triangle:hover:before, .triangle:hover:after { background: none; }
.triangle:hover, .triangle:hover:before, .triangle:hover:after {
	border: dashed 1px;
} */
